.creating {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.creatingName, .creatingDescription {
    border: 2px solid #3333aa;
    padding: .3rem;
    width: 40%;
    border-radius: .5rem;
    background-color: #fff;
}

.creatingName {
    min-height: 3rem;
}

.creatingDescription {
    min-height: 150px;
    margin-bottom: 1rem;
}
