.authorization {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.buttonsContainer {
    display: flex;
    justify-content: center;
}

.buttonsContainer button:first-of-type {
    margin-right: 1.5rem;
}