.projectsList {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: .7rem;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-decoration: none;
}