.input {
    outline: none;
    padding: .7rem;
    border-radius: .7rem;
    border-color: black;
    margin-top: .5rem;
}

.labelBlock {
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}