.projectInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    border-left: 2px solid #fff;
}

.description {
    border: 2px solid #3333aa;
    background: #fff;
    border-radius: .5rem;
    width: 95%;
    min-height: 100px;
    text-align: center;
}

.titleType {
    font-weight: bold;
    margin-right: 1rem;
}

.usersNames {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.date {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}