.motivation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px;
}

.motivationText {
    border: 2px solid #3333aa;
    background-color: #fff;
    border-radius: .5rem;
    padding: .5rem;
    width: 60%;
    min-height: 100px;
    margin-bottom: 2rem;
}

.denyButton {
    margin-right: 2rem;
}