.projectItems {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0);
    border: 2px solid #3333aa;
}

.projectItemsSelected {
    background: #fff;
    border: 2px solid #3333aa;
    border-radius: .5rem;
    margin-bottom: .5rem;
    cursor: pointer;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.projectItems:hover, .projectItemsSelected:hover {
    box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, .6);
}

.itemText {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.itemText span {
    margin-right: .5rem;
}

.projectTitle {
    font-weight: bold;
}

.itemButton {
    margin-left: .5rem;
}

.itemButton:hover {
    box-shadow: 0 0 10px 7px rgba(0, 0, 0, 0.5);
}